{% extends 'base.html' %}
{% block title %} {{ object.title }}{% endblock %}
{% block content %}
    <h2>{{ object }}</h2>
    {{ object.text }}<br />
    {{ object.created }} лайков: {{ object.get_likes_count }}

    <legend>Коментарии</legend>
    {% if request.user.is_authenticated %}
        <br />
        <form action="{% url 'add_comment' %}" method="POST">
          {% csrf_token %}
          {{ comment_form }}
          <input type="submit" class="btn btn-default" value="Отправить" />
        </form>

        <form action="{% url 'add_like' %}" method="POST">
          {% csrf_token %}
          {{ like_form }}
          <input type="submit" class="btn btn-default" value="Лайкнуть">
        </form>
        <hr />
    {% else%}
      <p>Надо <a href="{% url 'login' %}">авторизоваться</a>...</p>
    {% endif %}

    {% for comment in object.get_comments %}
      {{ comment.text }}<br />
      {{ comment.created }} - {{ comment.user }}
      <hr />
    {% endfor %}

{% endblock %}
